
<!DOCTYPE html>
<html>

<head>

  <title>Realtime communication with WebRTC</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  <link rel="shortcut icon" href="#">
</head>
<script type="text/javascript">
  var room = '{{room}}';
  var user_id = {{user_id}};
</script>
<body>

  <h1>Realtime communication with WebRTC</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>
  <button id="addVideo">ADD VIDEO</button>
  <div id="chatlog"></div>
  <textarea id="text" name="text"></textarea>
  <button id="sendText">Send</button>

  <script src="{{url_for('static', filename='js/lib/socket.io.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/adapter.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
